<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %>
    </title>
    <style type="text/css">
        body {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: burlywood;
            font-size: 28px;
            font-weight: 600;
        }

        header {
            background-color: #477250;
            display: flex;
            height: 100px;
            align-items: center;
            justify-content: end;
            padding-right: 50px;
            font-size: 26px;
        }

        .menu {
            padding-right: 15px;
            transition: 1s;
        }

        .menu:hover {
            scale: 1.2;
            padding-right: 25px;
            padding-left: 25px;
        }

        .wrapper {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: start;
            color: burlywood;
            font-size: 22px;
            background-color: brown;
            flex-direction: column;
            padding: 50px;
        }

        .wrapper-title {
            width: 700px;
        }

        .posts {
            padding: 15px;
            border: 1px solid burlywood;
            border-radius: 15px;
            margin-top: 15px;
            width: 700px;
        }

        .posts-title {
            display: flex;
            justify-content: space-between;
        }

        .posts-title__text {
            color: burlywood;
        }

        .posts-title__button {
            height: 25px;
            width: 25px;
            background-color: #02020200;
            border: 1px solid burlywood;
            color: wheat;
            cursor: pointer;
        }

        .posts-text {
            padding: 20px 0px;
        }

        .posts-description {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="wrapper">
            <span class="wrapper-title">POSTS : <%= posts.length %></span>
            <% if (posts.length) { %>
                <% posts.forEach(({ id,text, title,createdAt,author })=> { %>
                    <div class="posts">
                        <div class="posts-title">
                            <a href="/post/<%= id %>">
                                <div class="posts-title__text">
                                    <%= title %>
                                </div>
                            </a>
                            <button class="posts-title__button" data-id="<%= id %>">X</button>
                        </div>
                        <div class="posts-text">
                            <span>
                                <%= text %>
                            </span>
                        </div>
                        <div class="posts-description">
                            <span>
                                <%= createdAt.toLocaleDateString() || 'Нет даты' %>
                            </span>
                            <span>
                                <%= author %>
                            </span>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
        <script>
            document.addEventListener("click", (e) => {
                const id = e.target?.dataset?.id || null;
                console.log(id)
                if (id) {
                    fetch(`/posts/${id}`, {
                        method: 'DELETE',
                    }).then(() => {
                        window.location.reload()
                    }).catch((error) => {
                        console.log(error)
                    })
                }
            })
        </script>
        <!-- Скрипт который повешен на документ и при клике на него проверяет есть ли data-id при наличии отпровляет запрос на удлаение -->
</body>

</html>